aws_region        = "ap-south-2"
vpc_a_cidr        = "10.0.0.0/16"
vpc_b_cidr        = "10.1.0.0/16"
subnet_a_cidr     = "10.0.1.0/24"
subnet_b_cidr     = "10.1.1.0/24"
availability_zone = "ap-south-2a"
