aws_region           = "ap-south-2"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.3.0/24", "10.0.4.0/24"]
availability_zones   = ["ap-south-2a", "ap-south-2b"]
ami_id               = "ami-053a0835435bf4f45"
instance_type        = "t3.micro"
public_key_path      = "~/.ssh/aws_key.pub"
